@import 'globals';

img {
    height: 300px;
}

.pokemon {
    margin-bottom: 4rem;
  }
  .pokemon-heading {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }